@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #000000;
    background-color: #eacfc8;
}

/* headings and logo */

h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #523314;
}

#logo {
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    display: flex;
    font-size: 110%;
    letter-spacing: 4px;
    gap: 2rem;
}

#menu a:hover {
    border-bottom: 1px solid #000000;
}

.active {
    border-bottom: 1px solid #000000;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

nav li {
    list-style-type: none;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper a {
    text-decoration: none;
    color: inherit;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-focus;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-focus {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: 'Roboto' sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(234, 207, 200, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    padding: 10px;
    gap: 10px;
}

.grid-item {
    padding: 20px;
    max-height: 350px;
}

#video {
    max-height: 350px;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #000000;
}

#pictures {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#pictures > img {
    width: 100%;
}