@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #000000;
    background-color: #eacfc8;
}

/* headings and logo */

h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #523314;
}

#logo {
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    display: flex;
    font-size: 110%;
    letter-spacing: 4px;
    gap: 2rem;
}

#menu a:hover {
    border-bottom: 1px solid #000000;
}

.active {
    border-bottom: 1px solid #000000;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

nav li {
    list-style-type: none;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper a {
    text-decoration: none;
    color: inherit;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-focus;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-focus {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: 'Roboto' sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(234, 207, 200, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    padding: 10px;
    gap: 10px;
}

.grid-item {
    padding: 20px;
    max-height: 350px;
}

#video {
    max-height: 350px;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #000000;
}

#pictures {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#pictures > img {
    width: 100%;
}

/* signup page */

  /* adding background image to signup form-section */
.form-section {
    clear: left;
    background-image: url(../images/germany-return-artefacts.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
} 

    /* style signup form */

.signup-form {
    margin: 150px 10% 0 0;
    color: #000000;
    background-color: rgba(93, 134, 152, 0.7);
    max-width: 500px;
    position: absolute;
    left: 20%;
    padding: 30px;
} 

#form-heading {
    color: #000000;
    text-transform: none;
    margin-bottom: 20px;
}

.text-input {
    width: 100%;
    height: 30px;
    color: #000000;
}

.join-button {
    margin-top: 20px;
    border-radius: 4px;
    padding: 15px 32px 15px 32px;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
}

.join-button:hover {
    color: #ffffff;
    background-color: #000000;
}

/* style timeline page */

/* The overall parent timeline container */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
 
/* Container wraping around the text content div */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
}

/* container for text content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}